#!/bin/bash
# author: Xiaopf
# mongodb boot shell
# chkconfig: 2345 80 90
# description: Activates/Deactivates Mongos
#

# Source function library.
#. /etc/init.d/functions


MGDB_PATH="{{ service_dir }}"
MGDB_CONF="${MGDB_PATH}/conf/mongos.conf"

cd ${MGDB_PATH}

MGDB_START(){

        if [ ` ps -ef|grep 'mongos.conf'|grep -v grep|wc -l` -gt 0 ];then
                echo "MongoDB Mongos Node already start"
                exit 1
        fi
    ${MGDB_PATH}/bin/mongos -f  ${MGDB_CONF}
    if [ $? -eq 0 ];then
        echo -n "MongoDB Mongos Node start "
        echo -n "["
        echo -ne "\033[32m"
        echo -n "Successful"
        echo -ne "\e[0m"
        echo  "]"
    else
        echo "MongoDB Mongos Node start failed"

    fi
}

MGDB_STOP(){

        /usr/bin/killall mongos
        if [ $? -eq 0 ];then
                echo -n "MongoDB Mongos Node stop "
                echo -n "["
                echo -ne "\033[32m"
                echo -n "Successful"
                echo -ne "\e[0m"
                echo  "]"
        else
                echo "MongoDB Mongos Node stop failed"
        fi
}

MGDB_STATUS(){

    ps -ef|grep 'mongos.conf'|grep -v grep 
    if [ $? != 0 ];then
        echo "MongoDB is Mongos Node STOP"
    fi
}

case "$1" in 
    start)
        MGDB_START
        ;;
    stop)
        MGDB_STOP
        ;;
    status)
        MGDB_STATUS
        ;;
    restart)
        MGDB_STOP
                MGDB_START
        ;;
    *)
        echo $"Usage: $0 { start | stop | status | restart }"
        exit 1
esac